<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RPS" verbose="1">
    <parameter name="paper" value="PAPER"/>
    <parameter name="rock" value="ROCK"/>
    <parameter name="scissors" value="SCISSORS"/>

    <test name="testRPS">
        <classes>
            <class name="RockPaperScissorsTest">
                <methods>
                    <include name="testWinPlay"/>
                    <include name="testTiePlay"/>
                    <include name="testLostPlay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
